@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");

.centerne {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
}

    .centerne h1 {
        font-size: 2em;
        border-left: 5px solid dodgerblue;
        padding: 10px;
        color: #000;
        letter-spacing: 5px;
        margin-bottom: 60px;
        font-weight: bold;
        padding-left: 10px;
    }

    .centerne .inputboxne {
        position: relative;
        width: 300px;
        height: 50px;
        margin-bottom: 50px;
    }

        .centerne .inputboxne input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            border: 2px solid #000;
            outline: none;
            background: none;
            padding: 10px;
            border-radius: 10px;
            font-size: 1.2em;
        }

        .centerne .inputboxne:last-child {
            margin-bottom: 0;
        }

        .centerne .inputboxne span {
            position: absolute;
            top: 14px;
            left: 20px;
            font-size: 1em;
            transition: 0.6s;
            font-family: sans-serif;
        }

        .centerne .inputboxne input:focus ~ span,
        .centerne .inputboxne input:valid ~ span {
            transform: translateX(-13px) translateY(-35px);
            font-size: 1em;
        }

        .centerne .inputboxne [type="button"] {
            width: 50%;
            background: dodgerblue;
            color: #fff;
            border: #fff;
        }

        .centerne .inputboxne:hover [type="button"] {
            background: linear-gradient(45deg, #C997C6, dodgerblue);
        }
