
@{
    ViewBag.Title = "Trangsanpham";
    Layout = "~/Views/layout/Sanpham.cshtml";
}
<div class="gallery">
    <h2 class="tittle-w3" style="padding-top:0px">WELCOME TO HAKUNA MATATA</h2>
    <div class="container">
        <div class="gallery-grids">
            <div class="col-md-6 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="https://taingay.net/wp-content/uploads/2021/05/donwload-mockup-b%C3%ACa-s%C3%A1ch-%C4%91%E1%BA%B9p.jpg" data-lightbox="example-set" data-title="">
                            <img style="width:700px; height:600px" src="https://taingay.net/wp-content/uploads/2021/05/donwload-mockup-b%C3%ACa-s%C3%A1ch-%C4%91%E1%BA%B9p.jpg" />
                            <figcaption>
                                <h3>Đến với những cuốn sách hay</h3>
                                <p>Tiếp thu <br>tri thức</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="http://picture.dzogame.vn/Img/KimDongCenter2_pp_468.jpg" data-lightbox="example-set" data-title="">
                            <img src="http://picture.dzogame.vn/Img/KimDongCenter2_pp_468.jpg" />
                            <figcaption>
                                <h3>Vùng không gian yên tĩnh</h3>
                                <p>Hakuna <br>Matata</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="https://huyenthoaidota.vn/hinh-anh-quyen-sach-mo-ra/imager_3_895_700.jpg" data-lightbox="example-set" data-title="">
                            <img style="left:20px;height:250px;width:600px" src="https://huyenthoaidota.vn/hinh-anh-quyen-sach-mo-ra/imager_3_895_700.jpg" />
                            <figcaption>
                                <h3>Trải nghiệm những câu chuyện đẹp</h3>
                                <p>Sách là bạn<br>đồng hành</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
            <div class="col-md-12 gallery-grid wow fadeInUp animated" data-wow-delay=".5s">
                <div class="grid">
                    <figure class="effect-apollo">
                        <a class="example-image-link" href="https://weebomart.com/wp-content/uploads/2021/05/The-15-Most-Powerful-Anime-Characters-Of-All-Time-scaled-1.jpg" data-lightbox="example-set" data-title="">
                            <img style="height:500px;width:3000px; padding:0" src="https://weebomart.com/wp-content/uploads/2021/05/The-15-Most-Powerful-Anime-Characters-Of-All-Time-scaled-1.jpg" />
                            <figcaption>
                                <h3>Thế giới Manga rộng lớn</h3>
                                <p>Với hàng triệu cuốn sách<br>được nhập thường xuyên</p>
                            </figcaption>
                        </a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>


