
@{
    ViewBag.Title = "About";
    Layout = "~/Views/layout/Home_layout.cshtml";
}
<div style="width:80%;margin-left:150px;margin-bottom:100px;color:aliceblue;font-size:20px">
    <a style="color:aliceblue">
        <br>
        <br>
        <br>
        Luôn tâm huyết với việc khai thác những giá trị về văn hóa , tinh thần để tạo ra nguồn tri thức và những phút giây giải trí cho khách hàng,
        Hakuna Matata mở cửa đầu tiên vào năm 2021, mang trong mình lòng đam mê và khát vọng xây dựng một thương hiệu nhà sách,
        đem đến cho đọc giả sự thoải mái khi sử dụng dịch vụ.
        Hakuna Matata tin rằng thưởng thức một kiệt tác về văn học, đấm chìm trong thế giới truyện tranh hay cuốn mình theo những dòng tiểu thuyết sẽ là những trải nghiệm hoàn toàn khác biệt và tuyệt vời nhất cho những khách hàng của mình.
        <br>
        <br>
        Đến với không gian mua sắm trực tuyến Hakuna Matata, khách hàng có thể dễ dàng tìm thấy những cuốn sách hay, đa thể loại của nhiều nhà xuất bản, công ty sách trong và ngoài nước.
        Cùng với tiêu chí không ngừng hoàn thiện và nâng cao chất lượng sản phẩm, dịch vụ, Hakuna Matata cam kết mang đến cho khách hàng trải nghiệm mua sắm trực tuyến an toàn, tiện lợi, chăm sóc khách hàng tận tình và chu đáo.
    </a>
</div>
   

