
@{
    ViewBag.Title = "Tintuc";
    Layout = "~/Views/layout/Home_layout.cshtml";
}
<style>
    /*PRODUCTS*/
    .product {
        width: 100%;
        height: 800px;
        background-color: white;
        margin-left: 2cm;
        margin-right: 1000cm;
        margin-top: 20cm;
    }

        .product a {
            position: absolute;
            margin-left: 1cm;
            width: 600px;
            margin-top: 20px;
        }

        .product img {
            margin-top: 20px;
        }
    /*Upcoming Events*/
    .notification {
        background-color: white;
        color: #045077;
        text-align: center;
        font-size: 38px;
        padding: 70px 0px;
    }
    /*Meet your Writer*/
    .events {
        background-color: white;
        padding-bottom: 200px;
        position: relative;
    }

        .events img {
            width: 390px;
            height: 400px;
        }

        .events a {
            position: absolute;
            color: #045077;
        }

    * {
        box-sizing: border-box;
    }
</style>
<div class="body">
    <h1 style="color: #045077;text-align: center;margin-top: -20cm;">Tin Tức </h1>
</div>
<div class="product">
    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/NCC_T1121_Platinum_ThienLong920x420.jpg" style="width:450px" >
    <a style="font-size: 30px;color: #045077;">Mua 1 tặng 1 nhân ngày tri ân Parkers</a>

    <a style="margin-top: 1.5cm;font-size: 17px;text-align: justify;">
        Nhân ngày tri ân Parker &amp; Elmers, Hakuna Matata đã cho ra chương  trình mua 1
        tặng 1, khi mua một sản phẩm tri ân 40 năm sẽ được tặng ngày 1 sản phẩm
        tương ứng . Nhận ngay coupons giảm 50% cho các sản phẩm từ thiên long.
        Thiên Long - "Kỷ nguyên mới của sức mạnh tri thức" Năm 1981 , Thiên Long bắt đầu với những chiếc bút bi đầu tiên trong hành trình của
        Tập Đoàn Văn Phòng Phẩm Số 1 Việt Nam.Bền bỉ suốt 40 năm, Thiên Long đã tạo ra những sản phẩm chất lượng cho
        nhiều đối tượng trong học tập, làm việc và sáng tạo.
        Năm 2021, Thiên Long sẽ tiếp tục phát huy vai trò của mình tốt hơn nữa.
    </a>
    <a style="margin-top: 6cm;margin-left: 15cm;color: gray;">21-11-2021</a>

    <br><br><br>
    <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-11-2021/Mega2-T11-CP_310x210-2.jpg" width="450px" height="250px">
    <a style="font-size: 30px;color: #045077;">Sale sập sàn Black Friday lên đến 100k </a>

    <a style="margin-top: 1.5cm;font-size: 17px;text-align: justify;">
        Chương trình Sale nhân dịp Black Friday của
        Hakuna Matata bắt đầu từ ngày 23-11-2021 đã chiều lòng tín đồ yêu sách trong dịp này.
        Cứ ngỡ chương trình đã hạ nhiệt, Hakuna Matata lại tiếp tục tung thêm ưu đãi hấp dẫn.
        Nhận ưu đãi sale sập sàn của các coupon theo từng khung giờ vàng cho các đơn hàng từ 0đ.
        Giảm tới 100k , 30k , 40% cho các đơn hàng từ 0đ. Bên cạnh đó , giảm 100% phí ship ngay cho các đơn hàng từ 149k, giảm 20k cho đơn hàng từ 119k .
    </a>
    <a style="margin-top: 6cm;margin-left: 15cm;color: gray;">22-11-2021</a>
    <br><br><br>
    <img src="https://cdn0.fahasa.com/media/magentothem/banner7/Headfully-Slide-920x420.jpg" width="450px" height="250px">
    <a style="font-size: 30px;color: #045077;">Ngày đôi săn sale gấp bội</a>

    <a style="margin-top: 1.5cm;font-size: 17px;text-align: justify;">
        Từ ngày 22-11-2021 đến ngày 30-11-2021 giảm tới 45 % cho các sách học tập , thiếu nhi  dành cho bé
        Top những cuốn sách thiếu nhi ở Hakuna Matata sẽ được sale lên đến 45% .
        Bên cạnh đó khi hóa đơn của bạn lên đến 150k thì sẽ được miễn phí ship 100% và cho đơn từ 100k đến 149k thì sẽ được giảm phí ship đến 30k cho các đơn nội thành .
        Chương trình áp dụng với tất cả các sản phẩm về sách thiếu nhi như sách giáo khoa , truyện tranh các thể loại khác




    </a>
    <a style="margin-top: 6cm;margin-left: 15cm;color: gray;">21-11-2021</a>
</div>
